.socLogo {
  width: 100px;
  margin-top: 20px;
  position: relative;
  margin-right: 95%;
}

.bootcampermatch {
  text-align: center;
}

p {
  color: white;
}

.cardArea {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.successDiv {
  border: 3px solid rgb(5, 5, 5);
  width: 60%;
  margin: 30px auto;
  background-color: rgb(233, 233, 233);
  color: #000;
  padding: 10px;
  font-size: 1.4rem;
}
