.socLogo {
  width: 150px;
  margin: 30px auto;
}

th {
  background-color: #4174cc;
  padding: 1vw;
  letter-spacing: 0.15rem;
  font-size: 1.2rem;
}

td {
  text-align: center;
}

.tables {
  text-align: center;
  width: 100vw;
  padding: 20px;
}

table {
  border: 1px solid #1c6ea4;
  background-color: rgba(59, 55, 55, 0.815);
  text-align: left;
  border-collapse: collapse;
  color: #fff;
}

.pTag {
  text-align: center;
  max-width: 100%;
  font-size: 1.5rem;
}

table th {
  background: #f8f8f8;
  border-bottom: 2px solid #444444;
  text-align: center;
  color: #000;
  border-right: 1px solid #333;
}

td,
th {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  line-height: 1.4rem;
}

.mentorsList {
  width: 300px;
  min-width: 300px;
}

.BootcamperTable {
  width: 80%;
  margin: 0 auto 50px auto;
}

.mentorsTable {
  width: 80%;
  margin: 0 auto;
}

.h2 {
  font-size: 2.3rem;
}

.welcomeh2 {
  font-size: 3rem;
}
