.socLogo {
  width: 100px;
  margin-top: 20px;
  position: relative;
  margin-right: 95%;
}
th {
  background-color: lightblue;
  padding: 1vw;
  border: solid black 1px;
}
td {
  border: solid black 1px;
  background-color: whitesmoke;
}

.tables {
  margin-left: 20px;
  text-align: center;
  width: 100vw;
}

p {
  color: darkslategrey;
}

.BootcamperTable {
  width: 100%;
}
