body {
  background-image: linear-gradient(#67a6f1, #f8cdda, #1d2b64);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
}

h2 {
  color: white;
}

#googleSignIn {
  width: 300px;
}

#spinnerGif {
  width: 100px;
}

#signOut {
  width: 100px;
}

#socLogo {
  width: 200px;
  margin-top: 20px;
}

.signInDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
