.socLogo {
  width: 100px;
  margin-top: 40px;
  position: relative;
  margin-right: 85%;
}

.bootcamperprofile {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}

p {
  color: white;
}

.profileInfo {
  max-width: 60%;
  min-width: 50%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5%;
  display: flex;
  flex-flow: column wrap;
}

a {
  color: white;
}

.profileLink {
  max-width: 70%;
}

h1 {
  color: white;
  margin-bottom: 50px;
}

div {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
}
