.socLogo {
  width: 100px;
  margin-top: 40px;
  position: relative;
  margin-right: 85%;
}

.mentorprofile {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  text-align: center;
}

p {
  color: white;
}
