h2 {
  color: white;
}

.googleSignIn {
  width: 300px;
}

.spinnerGif {
  width: 100px;
}

.signOut {
  width: 100px;
}

.socLogo {
  width: 250px;
  margin-top: 20px;
}

.signInDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
