h2 {
  color: white;
}

.socLogo {
  width: 250px;
  margin-top: 20px;
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p {
  color: darkslategrey;
}
